# Configuration file

general {
    B:PFQueueDebug=false
    S:chunkCacheDimensionBlacklist_IDs=
    S:chunkCacheDimensionBlacklist_Names=promised
    B:chunkCacheOverworldOnly=false

    # Test admin thing for kcauldron issues, kills zombies a bit after sunrise every cleanupStrayMobsDayRate days
    B:cleanupStrayMobs=false
    I:cleanupStrayMobsDayRate=5
    I:cleanupStrayMobsTimeOfDay=2000
    B:debugShaders=false
    B:desirePathDerp=false
    B:disableMipmapFix=false
    B:disableParticleRenderer=false

    # Use at own risk, will not support, requires game restart on change
    B:enableAdvancedDeveloperConfigFiles=false

    # Fix WorldEntitySpawner crash caused by other mods that look like this https://github.com/pWn3d1337/Techguns/issues/132
    B:fixBadBiomeEntitySpawnEntries=false
    B:foliageShaders=false
    B:forceShadersOff=false
    B:headshots=false

    # WIP, more strict transparent cloud usage, better on fps
    B:optimizedCloudRendering=false
    B:particleShaders=true

    # Used for tracking time spent in chunk and block right clicks for measuring activity for difficulty
    B:trackPlayerData=false
    B:useCoroPets=false

    # Provides better context for shaders/particles to work nice with translucent blocks like glass and water
    B:useEntityRenderHookForShaders=true

    # For debugging things
    B:useLoggingDebug=false

    # For logging warnings/errors
    B:useLoggingError=true

    # For seldom used but important things to print out in production
    B:useLoggingLog=true
    B:usePlayerRadiusChunkLoadingForFallback=true
}


