# Configuration file

~CONFIG_VERSION: 0.1.0

world-1131673219 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1305999075 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1879467728 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-2095336109 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-314024769 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@furnace
    B:overlayEnabled=true
}


world-329156282 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-459446061 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-502074986 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@ezs
    B:overlayEnabled=true
}


world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@botania

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world-846968337 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1049473303 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world121359132 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1271872485 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wooden
    B:overlayEnabled=true
}


world1434605101 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1559869088 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1626688201 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@guide
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world199071194 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@enderio
    B:overlayEnabled=true
}


world2124217402 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world290874995 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=vend
    B:overlayEnabled=true
}


world307285110 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world44387734 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world712473666 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world714877719 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bucket
    B:overlayEnabled=true
}


world78727239 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@tcon grout
    B:overlayEnabled=true
}


world846179091 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=button
    B:overlayEnabled=true
}


world908926504 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=c
    B:overlayEnabled=true
}


