# Configuration file

general {

    gamerules {
        # Allow eggs to be thrown
        B:allowEggThrowing=false

        # Allow random mobs to spawn on Animania animals
        B:allowMobRiding=true

        # Allow dispensers to place seeds
        B:allowSeedDispenserPlacement=true

        # Allow the trough to be automated with hoppers/pipes
        B:allowTroughAutomation=true

        # Animals do not have to eat or drink
        B:ambianceMode=false

        # Animals can attack others
        B:animalsCanAttackOthers=true

        # Animals starve to death when not fed and watered
        B:animalsStarve=true

        # Ticks that a Cheese takes to mature
        I:cheeseMaturityTime=24000

        # Disable cart and wagon
        B:disableRollingVehicles=false

        # Disable salt creation using cheese mold
        B:disableSaltCreation=false

        # Multiplier for reducing fall damage when animals are leashed
        D:fallDamageReduceMultiplier=0.44999998807907104

        # Foods give bonus effects
        B:foodsGiveBonusEffects=true

        # Capacity of RF that the Hamster Wheel has
        I:hamsterWheelCapacity=200000

        # RF/tick that the Hamster wheel generates while in use
        I:hamsterWheelRFGeneration=20

        # Ticks that the hamster stays in the wheel before it needs more food
        I:hamsterWheelUseTime=900

        # Plant blocks removed after animal eats
        B:plantsRemovedAfterEating=true

        # Remove vanilla Chickens
        B:replaceVanillaChickens=false

        # Remove vanilla Cows
        B:replaceVanillaCows=false

        # Remove vanilla Horses
        B:replaceVanillaHorses=false

        # Remove vanilla Pigs
        B:replaceVanillaPigs=false

        # Remove vanilla Rabbits
        B:replaceVanillaRabbits=false

        # Remove vanilla Sheep
        B:replaceVanillaSheep=false

        # Shift-Right-Click for Seed Placement
        B:shiftSeedPlacement=false

        # Show mod update notification at startup
        B:showModUpdateNotification=false

        # Show male parts (modesty flag)
        B:showParts=true

        # Show particles when animals are unhappy
        B:showUnhappyParticles=true

        # Can sleep using Wagon
        B:sleepAllowedWagon=true

        # Food Items that can be placed in the trough (use # for meta)
        S:troughFood <
            minecraft:wheat
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
            minecraft:apple
            minecraft:carrot
            minecraft:beetroot
            minecraft:potato
            minecraft:poisonous_potato
            minecraft:wheat_seeds
            minecraft:melon_seeds
            minecraft:beetroot_seeds
            minecraft:pumpkin_seeds
            biomesoplenty:turnip_seeds
         >

        # Water blocks removed after large animals drink
        B:waterRemovedAfterDrinking=true
    }

    drops {
        # Set Custom Chicken Drop (if enabled)
        S:chickenDrop=animania:raw_prime_chicken

        # Set Custom Chicken Secondary Drop
        S:chickenDrop2=minecraft:feather

        # Set Custom Chicken Secondary Drop Amount
        I:chickenDrop2Amount=1

        # Allow Animania Chickens to drop Eggs
        B:chickensDropEggs=false

        # Allow Animania Chickens to drop Feathers
        B:chickensDropFeathers=true

        # Set Custom Cow Drop (if enabled)
        S:cowDrop=animania:raw_prime_beef

        # Set Custom Cow Secondary Drop
        S:cowDrop2=minecraft:leather

        # Set Custom Cow Secondary Drop Amount
        I:cowDrop2Amount=1

        # Enable Animal Drops from Config
        B:customMobDrops=true

        # Set Custom Dart Frog Drop
        S:dartFrogDrop=

        # Set Custom Dart Frog Secondary Drop
        S:dartFrogDrop2=

        # Set Custom Dart Frog Secondary Drop Amount
        I:dartFrogDrop2Amount=1

        # Set Custom Ferret Drop (if enabled)
        S:ferretDrop=

        # Set Custom Ferret Secondary Drop
        S:ferretDrop2=

        # Set Custom Ferret Secondary Drop Amount
        I:ferretDrop2Amount=1

        # Set Custom Frog Drop
        S:frogDrop=animania:raw_frog_legs

        # Set Custom Frog Secondary Drop
        S:frogDrop2=

        # Set Custom frog Secondary Drop Amount
        I:frogDrop2Amount=1

        # Set Custom Goat Drop
        S:goatDrop=animania:raw_chevon

        # Set Custom Goat Secondary Drop
        S:goatDrop2=

        # Set Custom Goat Secondary Drop Amount
        I:goatDrop2Amount=1

        # Set Custom Hamster Drop (if enabled)
        S:hamsterDrop=animania:hamster_food

        # Set Custom Hamster Secondary Drop
        S:hamsterDrop2=

        # Set Custom Hamster Secondary Drop Amount
        I:hamsterDrop2Amount=1

        # Set Custom Hedgehog Drop (if enabled)
        S:hedgehogDrop=

        # Set Custom Hedgehog Secondary Drop
        S:hedgehogDrop2=

        # Set Custom Hedgehog Secondary Drop Amount
        I:hedgehogDrop2Amount=1

        # Set Custom Horse Drop (if enabled)
        S:horseDrop=

        # Set Custom Horse Secondary Drop
        S:horseDrop2=minecraft:leather

        # Set Custom Horse Secondary Drop Amount
        I:horseDrop2Amount=1

        # Enable Animals Drop their custom meat types
        B:oldMeatDrops=false

        # Set Custom Blue Peacock Drop (if enabled)
        S:peacockBlueDrop=animania:blue_peacock_feather

        # Set Custom Charcoal Peacock Drop (if enabled)
        S:peacockCharcoalDrop=animania:charcoal_peacock_feather

        # Set Custom Peacock Secondary Drop
        S:peacockDrop2=

        # Set Custom Peacock Secondary Drop Amount
        I:peacockDrop2Amount=1

        # Set Custom Opal Peacock Drop (if enabled)
        S:peacockOpalDrop=animania:opal_peacock_feather

        # Set Custom Peach Peacock Drop (if enabled)
        S:peacockPeachDrop=animania:peach_peacock_feather

        # Set Custom Purple Peacock Drop (if enabled)
        S:peacockPurpleDrop=animania:purple_peacock_feather

        # Set Custom Taupe Peacock Drop (if enabled)
        S:peacockTaupeDrop=animania:taupe_peacock_feather

        # Set Custom White Peacock Drop (if enabled)
        S:peacockWhiteDrop=animania:white_peacock_feather

        # Set Custom Pig Drop (if enabled)
        S:pigDrop=animania:raw_prime_pork

        # Set Custom Pig Secondary Drop
        S:pigDrop2=

        # Set Custom Pig Secondary Drop Amount
        I:pigDrop2Amount=1

        # Set Custom Rabbit Drop
        S:rabbitDrop=animania:raw_prime_rabbit

        # Set Custom Rabbit Secondary Drop
        S:rabbitDrop2=minecraft:rabbit_foot

        # Set Custom Rabbit Secondary Drop Amount
        I:rabbitDrop2Amount=1

        # Set Custom Sheep Drop
        S:sheepDrop=animania:raw_prime_mutton

        # Set Custom Sheep Secondary Drop
        S:sheepDrop2=

        # Set Custom Sheep Secondary Drop Amount
        I:sheepDrop2Amount=1

        # Set Custom Toad Drop
        S:toadDrop=

        # Set Custom Toad Secondary Drop
        S:toadDrop2=

        # Set Custom Toad Secondary Drop Amount
        I:toadDrop2Amount=1
    }

    spawn {
        # Number of potential Chicken families per chunk
        I:numberChickenFamilies=1

        # Number of potential Cow families per chunk
        I:numberCowFamilies=1

        # Number of potential Goat families per chunk
        I:numberGoatFamilies=1

        # Number of potential Horse families per chunk
        I:numberHorseFamilies=1

        # Number of potential Pig families per chunk
        I:numberPigFamilies=1

        # Number of potential Rabbit families per chunk
        I:numberRabbitFamilies=1

        # Number of potential Sheep families per chunk
        I:numberSheepFamilies=1

        # Spawn Animania Amphibians in world
        B:spawnAnimaniaAmphibians=true

        # Spawn Animania Chickens in world
        B:spawnAnimaniaChickens=true

        # Spawn Animania Cows in world
        B:spawnAnimaniaCows=true

        # Spawn Animania Goats in world
        B:spawnAnimaniaGoats=true

        # Spawn Animania Horses in world
        B:spawnAnimaniaHorses=true

        # Spawn Animania Peacocks in world
        B:spawnAnimaniaPeacocks=true

        # Spawn Animania Pigs in world
        B:spawnAnimaniaPigs=true

        # Spawn Animania Rabbits in world
        B:spawnAnimaniaRabbits=true

        # Spawn Animania Rodents in world
        B:spawnAnimaniaRodents=true

        # Spawn Animania Sheep in world
        B:spawnAnimaniaSheep=true

        # Spawn limit for Amphibians in loaded chunks
        I:spawnLimitAmphibians=5

        # Spawn limit for Chickens in loaded chunks
        I:spawnLimitChickens=10

        # Spawn limit for Cows in loaded chunks
        I:spawnLimitCows=10

        # Spawn limit for Ferrets in loaded chunks
        I:spawnLimitFerrets=5

        # Spawn limit for Goats in loaded chunks
        I:spawnLimitGoats=10

        # Spawn limit for Hamsters in loaded chunks
        I:spawnLimitHamsters=10

        # Spawn limit for Hedgehogs in loaded chunks
        I:spawnLimitHedgehogs=10

        # Spawn limit for Horses in loaded chunks
        I:spawnLimitHorses=10

        # Spawn limit for Peacocks in loaded chunks
        I:spawnLimitPeacocks=10

        # Spawn limit for Pigs in loaded chunks
        I:spawnLimitPigs=10

        # Spawn limit for Rabbits in loaded chunks
        I:spawnLimitRabbits=10

        # Spawn limit for Sheep in loaded chunks
        I:spawnLimitSheep=10

        # Spawn probability Amphibians in loaded chunks
        I:spawnProbabilityAmphibians=6

        # Spawn probability Chickens in loaded chunks
        I:spawnProbabilityChickens=8

        # Spawn probability Cows in loaded chunks
        I:spawnProbabilityCows=8

        # Spawn probability Ferrets in loaded chunks
        I:spawnProbabilityFerrets=8

        # Spawn probability Goats in loaded chunks
        I:spawnProbabilityGoats=6

        # Spawn probability Hamsters in loaded chunks
        I:spawnProbabilityHamsters=8

        # Spawn probability Hedgehogs in loaded chunks
        I:spawnProbabilityHedgehogs=8

        # Spawn probability Horses in loaded chunks
        I:spawnProbabilityHorses=6

        # Spawn probability Peacocks in loaded chunks
        I:spawnProbabilityPeacocks=8

        # Spawn probability Pigs in loaded chunks
        I:spawnProbabilityPigs=8

        # Spawn probability Rabbits in loaded chunks
        I:spawnProbabilityRabbits=6

        # Spawn probability Sheep in loaded chunks
        I:spawnProbabilitySheep=8
    }

    careandfeeding {
        # Food Items that chickens can eat (use # for meta)
        S:chickenFood <
            minecraft:wheat_seeds
            minecraft:melon_seeds
            minecraft:beetroot_seeds
            minecraft:pumpkin_seeds
            simplecorn:corncob
            biomesoplenty:turnip_seeds
            harvestcraft:cornitem
         >

        # Ticks before next incremental growth
        I:childGrowthTick=200

        # Food Items that cows can eat (use # for meta)
        S:cowFood <
            minecraft:wheat
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
         >

        # Egg hatch chance (1/x)
        I:eggHatchChance=2

        # Ticks between dropping feathers
        I:featherTimer=12000

        # Ticks between feedings
        I:feedTimer=12000

        # Ticks between birthings
        I:gestationTimer=20000

        # Food Items that goats can eat (use # for meta)
        S:goatFood <
            minecraft:wheat
            minecraft:string
            minecraft:stick
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
         >

        # Food Items that horses can eat (use # for meta)
        S:horseFood <
            minecraft:wheat
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            minecraft:apple
            minecraft:carrot
         >

        # Ticks between laying eggs
        I:laidTimer=2000

        # Mammals mate/breed only after hand-feeding
        B:manualBreeding=false

        # Food Items that pigs can eat (use # for meta)
        S:pigFood <
            minecraft:carrot
            minecraft:beetroot
            minecraft:potato
            minecraft:poisonous_potato
            minecraft:bread
         >

        # Ticks between playing
        I:playTimer=12000

        # Food Items that rabbits can eat (use # for meta)
        S:rabbitFood <
            minecraft:wheat
            minecraft:carrot
            minecraft:beetroot
            minecraft:apple
         >

        # Maximum uses of the salt lick
        I:saltLickMaxUses=200

        # Ticks between using Salt Lick
        I:saltLickTick=8000

        # Food Items that sheep can eat (use # for meta)
        S:sheepFood <
            minecraft:wheat
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
         >

        # Ticks between animals taking starvation damage
        I:starvationTimer=1200

        # Ticks between drinking water
        I:waterTimer=8000

        # Ticks before wool regrowth after shearing
        I:woolRegrowthTimer=8000
    }

    foodvalues {
        # Food Value Overrides
        S:foodValueOverrides <
         >
    }

}


