# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Exempt Blocks
##########################################################################################################

blocks {
    # Please enter blocks to be ignored 1 per entry
    # the format is modid:block_name:dmg
    # If the block has no meta or dmg value then give it a 0
    # example:
    # notenoughscaffold:wooden_scaffold
    S:blocks <
        notenoughscaffold:wooden_scaffold:0
        notenoughscaffold:iron_scaffold:0
        minecraft:sand:0
        minecraft:sand:1
        minecraft:gravel:0
     >
}


