# Configuration file

desirepaths {
    # The block to use for the final worn stage, keep default to allow it to still repair, changing will stop it from repairing once it wears down this far, other good options: 'minecraft:dirt', 'minecraft:grass_path', 'minecraft:dirt 1' for meta use, which is coarse dirt
    S:blockFinalWornStage=desirepaths:grass_worn_6

    # Use at own risk, will not support, requires game restart on change
    B:enableAdvancedDeveloperConfigFiles=false
    B:pathsRepair=true
    B:pathsWearDown=true

    # Makes sheep wear down paths at a slower rate, to help them still have grass to eat
    D:sheepPathWearAmplifier=0.1
}


