# Configuration file

general {
    # Force all chunks to retrogen regardless of anything else [default: false]
    B:"Force Retrogen"=false

    # Replace vanilla ore-generation entirely [default: false]
    B:"Replace Vanilla Oregen"=false

    # Do we have Retrogen active and generating anything different from the last run in already existing chunks ? [default: false]
    B:Retrogen=false
}


